<!DOCTYPE html>
html
  title Лабораторная работа №6
  include headCode
body
    nav
      a.big_text(href='index.html') Самые сильные футболисты
      a.big_text(href='index_2.html') Список самых сильных футболистов
    hr
    h3.cool_text Лионель Месси
    img.img_600_600(src='img/Messi.jpg')
    p.
      
      Лионе́ль Андре́с Ме́сси Куччитти́ни[a] (исп. Lionel Andrés Messi Cuccittini, испанское произношение: [ljoˈnel anˈdɾez ˈmesi] (Звук слушать); родился 24 июня 1987, Росарио, Аргентина) — аргентинский футболист, нападающий клуба «Пари Сен-Жермен», капитан сборной Аргентины.
      
    p.
      
      Лучший бомбардир в истории чемпионата Испании, «Барселоны» и сборной Аргентины. Признаётся одним из лучших футболистов всех времён[7][8][9]. Семикратный обладатель «Золотого мяча»[b], шестикратный — «Золотой бутсы». Воспитанник академии «Барселоны», вместе с этим клубом выиграл десять титулов чемпиона Испании, четыре Лиги чемпионов УЕФА, семь Кубков Испании, восемь Суперкубков Испании, три Суперкубка Европы и три чемпионата мира среди клубов. Чемпион Франции и обладатель Суперкубка Франции в составе «Пари Сен-Жермен».
      
    hr
